@font-face {
  font-family: "iconfont"; /* Project id 3497501 */
  src: url('iconfont.woff2?t=1657096851440') format('woff2'),
       url('iconfont.woff?t=1657096851440') format('woff'),
       url('iconfont.ttf?t=1657096851440') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youxiang:before {
  content: "\e908";
}

.icon-dianhua:before {
  content: "\e88b";
}

.icon-xiaoshouzongheqingkuangtongjibiao:before {
  content: "\e6de";
}

.icon-xuesheng:before {
  content: "\e7c0";
}

.icon-xueshengdangan:before {
  content: "\e604";
}

.icon-xueshengchengji:before {
  content: "\e7df";
}

.icon-guanliyuan:before {
  content: "\e62a";
}

.icon-mima:before {
  content: "\e8b2";
}

.icon-yonghu:before {
  content: "\e63f";
}

